

ul li{
    border: 3px black solid;
    color: black;
    list-style-type: none;
    font-size: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
}


.redes{
    display: flex;
    color: beige;
    background-color: rgb(48, 44, 44);
    justify-content: space-evenly;
    align-items: center;
}
.logoRedes{
    width: 50px;
    height: 50px;
}
.logoRiver{
    width: 150px;
    height: 150px;
}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h1{
    margin-top: 10px;
}
.carrousel{
    font-size: 400px;
}