.formulario{
    margin: 20px;
  }
  
  .tituloForm{
    font-size: 20px;
  }
  
  .inscribite{
    font-size: 15px;
    text-align: center;
  }
  .centrarFormulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }